<div id="home">
    
    <div >
        <img src="../../../../../assets/cafe10.jpg" alt="" id="imgg">
      </div>
      <h1> Café 10.1</h1>
    <div id="aboutus">
      <h2>About Us</h2><br>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Voluptates eligendi soluta ut quisquam<br> neque natus, nostrum ex necessitatibus 
         dolore repellat.Blanditiis animi rem quasi<br> numquam autem alias, tenetur 
         voluptatum similique.</p>
      <!-- <button type="button">Our Menu <i class="fa fa-arrow-right"></i></button> -->
    </div>
