<div class="about-section">
    <div class="inner-container">
        <h1>
            About Us
            <div class="border"></div>
        </h1>
        <p class="text">
         NCU provides a Cafe 10 Cafeteria, self-service restaurant in which students and staff can select various dishes from an open-counter display. <span id="dots">...</span><span id="more"> The modern cafeteria, designed to facilitate a smooth flow of patrons, is particularly well-adapted to the needs of students and staff attempting to serve large numbers of people efficiently and inexpensively. In addition to providing healthy and nutritious food, it also serves as a place for students to get together in between the classes. There is an ear marked space for employees also, called Lunch Club where they can have their lunch and snacks during free hours.
         </span></p>
        <button (click)="myFunction()" id="myBtn">Read more</button>
    </div>
</div>

<!-- <script>
    function myFunction() {
    var dots = document.getElementById("dots");
    var moreText = document.getElementById("more");
    var btnText = document.getElementById("myBtn");
  
    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Read more";
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Read less";
      moreText.style.display = "inline";
    }
  }
</script>  -->