*{ Margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing: border-box;}
    
    body{
        min-height:100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #b8b8b8;
    
    }
    
    .about-section{
        /* margin-top:-15px; */
        /* height:80vh;new */
        background:url(../../../../../assets/pic.jpg) no-repeat left;
        /* background-size:70%; */
        background-size:60%;/*new*/
        background-color:#5c5c5c;
        overflow: hidden;
        padding: 100px 0;
        margin:100px 50px;/*new*/
    }
    .inner-container{
        height:70vh;/*new*/
        width:55%;
        float:right;
        background-color:#c2c2c2;
        padding:150px;
       overflow-y: scroll;
       border: 2px solid #000000;
       border-radius: 2px;
    }
    .inner-container h1{
        margin-bottom:30px;
        font-size:30px;
        font-weight:800;
        
    }
    .border{
       height:3px;
       width:155px; 
       background-color: rgb(245,60,28);
    
    }
    .text{
        font-size:13px;
        color:#545454;
        line-height:30px;
        text-align:justify;
        margin-bottom:40px;
      
    }
    #more {display: none;}
    
    @media screen and (max-width:1200px){
        .inner-container{
            padding:80px;
        }
    }
    @media screen and (max-width:1000px){
        .about-section{
            background-size: 100%;
            padding:100px 40px;
        }
        .inner-container{
            width:100%;
        }
    }
    @media  screen and (max-width:600px) {
        .about-section{
            padding:0;
        }
        .inner-container{
            padding:60px;
        }
    }